In [1]:
import pandas as pd

In [4]:
def read_data():
    df = pd.read_csv('s3://project-bucket/input/wind_dataset.csv', storage_options={
        "profile":'localstack'
    })
    return df

In [5]:
df = read_data()

In [6]:
df

            DATE   WIND  IND  RAIN  IND.1  T.MAX  IND.2  T.MIN  T.MIN.G
0     1961-01-01  13.67    0   0.2    0.0    9.5    0.0    3.7     -1.0
1     1961-01-02  11.50    0   5.1    0.0    7.2    0.0    4.2      1.1
2     1961-01-03  11.25    0   0.4    0.0    5.5    0.0    0.5     -0.5
3     1961-01-04   8.63    0   0.2    0.0    5.6    0.0    0.4     -3.2
4     1961-01-05  11.92    0  10.4    0.0    7.2    1.0   -1.5     -7.5
...          ...    ...  ...   ...    ...    ...    ...    ...      ...
6569  1978-12-27  14.46    0  16.8    0.0    9.8    0.0    4.0      0.0
6570  1978-12-28  14.33    0  16.0    0.0    9.1    0.0    8.5      8.0
6571  1978-12-29  19.17    0  14.7    0.0    5.0    0.0    3.5      3.2
6572  1978-12-30  18.08    0   4.9    0.0    2.9    0.0    0.3     -0.5
6573  1978-12-31  19.25    0   0.5    0.0    1.2    1.0   -1.5     -3.0

[6574 rows x 9 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6574 entries, 0 to 6573
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   DATE     6574 non-null   object
 1   WIND     6574 non-null   float64
 2   IND      6574 non-null   int64
 3   RAIN     6574 non-null   float64
 4   IND.1    6513 non-null   float64
 5   T.MAX    5953 non-null   float64
 6   IND.2    6513 non-null   float64
 7   T.MIN    5900 non-null   float64
 8   T.MIN.G  6214 non-null   float64
dtypes: float64(7), int64(1), object(1)
memory usage: 462.4+ KB

In [14]:
df.groupby('T.MAX', dropna=False)['DATE'].count()

T.MAX
-0.1       1
 0.0       1
 0.8       1
 1.0       1
 1.1       1
        ...
 25.8      1
 26.0      1
 26.3      1
 26.8      1
 NaN     621
Name: DATE, Length: 247, dtype: int64

In [21]:
df['month'] = pd.to_datetime(df['DATE']).dt.month.astype(str)
df['day'] = pd.to_datetime(df['DATE']).dt.day.astype(str)

In [24]:
df[df['T.MAX'].isna()]

,DATE,WIND,IND,RAIN,IND.1,T.MAX,IND.2,T.MIN,T.MIN.G,month,day
730,1963-01-01,23.45,0,0.0,4.0,NaN,4.0,NaN,1.1,1,1
731,1963-01-02,20.75,0,3.9,4.0,NaN,4.0,NaN,0.2,1,2
732,1963-01-03,13.83,0,12.5,4.0,NaN,4.0,NaN,0.2,1,3
733,1963-01-04,8.54,0,6.4,4.0,NaN,4.0,NaN,1.6,1,4
734,1963-01-05,13.08,0,1.2,4.0,NaN,4.0,NaN,1.8,1,5
...,...,...,...,...,...,...,...,...,...,...,...
3068,1969-05-27,7.62,0,0.4,4.0,NaN,4.0,NaN,NaN,5,27
3071,1969-05-30,8.42,0,0.9,4.0,NaN,4.0,NaN,NaN,5,30
6555,1978-12-13,13.00,0,13.2,4.0,NaN,4.0,NaN,NaN,12,13
6556,1978-12-14,8.83,0,6.4,4.0,NaN,4.0,NaN,NaN,12,14
6557,1978-12-15,12.67,0,0.8,4.0,NaN,4.0,NaN,NaN,12,15

In [25]:
df.dropna(inplace=True)

In [26]:
df

,DATE,WIND,IND,RAIN,IND.1,T.MAX,IND.2,T.MIN,T.MIN.G,month,day
0,1961-01-01,13.67,0,0.2,0.0,9.5,0.0,3.7,-1.0,1,1
1,1961-01-02,11.50,0,5.1,0.0,7.2,0.0,4.2,1.1,1,2
2,1961-01-03,11.25,0,0.4,0.0,5.5,0.0,0.5,-0.5,1,3
3,1961-01-04,8.63,0,0.2,0.0,5.6,0.0,0.4,-3.2,1,4
4,1961-01-05,11.92,0,10.4,0.0,7.2,1.0,-1.5,-7.5,1,5
...,...,...,...,...,...,...,...,...,...,...,...
6569,1978-12-27,14.46,0,16.8,0.0,9.8,0.0,4.0,0.0,12,27
6570,1978-12-28,14.33,0,16.0,0.0,9.1,0.0,8.5,8.0,12,28
6571,1978-12-29,19.17,0,14.7,0.0,5.0,0.0,3.5,3.2,12,29
6572,1978-12-30,18.08,0,4.9,0.0,2.9,0.0,0.3,-0.5,12,30
6573,1978-12-31,19.25,0,0.5,0.0,1.2,1.0,-1.5,-3.0,12,31